:root {
    --primary-color: #a8b74b;
    --primary-dark-color: #90a512;
    --secondary-color: #40c1b9;
    --button-hover: #ef4b5e;
    --brown-color: #29211e;
    --brown-hover-color: #40342f;
}

.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em
}

.flag-icon:before {
    content: "\00a0"
}

.flag-icon.flag-icon-squared {
    width: 1em
}

.flag-icon-de {
    background-image: url(../flags/4x3/de.svg)
}

.flag-icon-de.flag-icon-squared {
    background-image: url(../flags/1x1/de.svg)
}

.flag-icon-gb {
    background-image: url(../flags/4x3/gb.svg)
}

.flag-icon-gb.flag-icon-squared {
    background-image: url(../flags/1x1/gb.svg)
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.7rem !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.booking section {
    font-size: 16px;
}

.banner-slider {
    min-height: 80vh;
    text-align: center;
}

.banner-slider.bg-text h1.text-heading {
    font-weight: 700 !important;
}

.bravo_wrap .bravo_header {
    border-bottom: 4px solid var(--primary-color);
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgba(47, 47, 47, 0.68) !important;
}

.p-abs {
    position: absolute;
}

.bravo_topbar + .bravo_header {
    top: 45px;
}

.bravo-logo img {
    max-height: 180px;
    /* margin-bottom: -75px; */
}

.bravo_wrap .bravo_header .content .header-left .bravo-menu ul li a {
    color: #fff !important;
    font-weight: 500;
}

.bravo_wrap .bravo_header .content {
    justify-content: space-between;
}

.bravo_header .menu-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.bravo_wrap .bravo_header .content .header-left .bravo-menu ul li > .menu-dropdown li a {
    padding: 7px 0;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}

.bravo_wrap .bravo_header .content .header-left .bravo-menu ul li > .menu-dropdown li:not(:last-child) a {
    border-bottom: 1px solid #303231;
}

.bravo_wrap .bravo_header .content .header-left .bravo-menu ul li > .menu-dropdown {
    background-color: rgba(47, 47, 47, 0.68) !important;
}

.header-right .dropdown {
    list-style: none;
}

.bravo_wrap .bravo_header .content .header-left .bravo-menu ul li > .menu-dropdown li {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

}


.bravo_wrap .bravo_header .content .header-left .bravo-menu ul li > .menu-dropdown li.active {
    background-color: rgba(47, 47, 47, 0.4);
}

.bravo_wrap .bravo_header .content .header-left .bravo-menu ul li > .menu-dropdown li:hover {
    background-color: rgba(47, 47, 47, 0.75);
}

.grid-content img {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: auto;
}

.contact-sec img {
    border-radius: 50%;
    max-width: 100%;
    width: auto;
}

.btn-primary {
    background: var(--primary-color);
    background-color: var(--primary-color) !important;
    border-color: var(--primary-dark-color) !important;
}

.bravo_wrap .page-template-content .bravo-call-to-action .context .btn-more {
    background: var(--primary-color);
    margin: 30px 0 0 0 !important;
}

.btn-secondary {
    background: var(--secondary-color);
}

.btn-secondary:hover {
    background: var(--secondary-color);
    opacity: 0.8;
    text-decoration: none;
}

.btn-app,
.bravo_wrap .page-template-content .bravo-call-to-action .context .btn-more {
    min-width: 145px;
    display: inline-block;
    position: relative;
    outline: 0;
    padding: 9px 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    -webkit-transition: color .25s ease-out, background-color .25s ease-out, border-color .25s ease-out;
    -moz-transition: color .25s ease-out, background-color .25s ease-out, border-color .25s ease-out;
    transition: color .25s ease-out, background-color .25s ease-out, border-color .25s ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    border-radius: 0;
    /*margin: 0 30px;*/
}

.btn-primary:hover,
.bravo_wrap .page-template-content .bravo-call-to-action .context .btn-more:hover {
    background: var(--button-hover) !important;
    border-radius: 0;
    color: #fff;
    text-decoration: none;
}

.contact-sec {
    margin: 0 auto;
    padding: 80px 0;
}

.banner-slider.normal {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bravo_wrap .page-template-content .bravo-call-to-action .context {
    padding: 30px;
    background-color: #f6f6f6;
}

.bravo_wrap .page-template-content .bravo-call-to-action .context .sub_title {
    font-size: 24px;
}

.bravo_wrap .page-template-content .bravo-call-to-action .context .title {
    font-size: 28px;
    margin-bottom: 12px;
}

.bravo_wrap .page-template-content .bravo-form-search-all .effect .item {
    background-color: rgb(0 0 0 / 30%);
    background-blend-mode: overlay;
}

.contact-banner-wrapper {
    height: 100vh;
}

.bravo-contact-block .section {
    height: 100%;
}

.bravo-contact-block .info {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: 99;
}

.contact-banner-wrapper .info:before {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
    position: absolute;
    width: 100%;
    height: calc(100% + 100px);
    display: block;
    content: '';
    z-index: -1;
    top: 0;
}

.bravo-contact-block .info .desc {
    color: #fff;
    font-size: 18px;
}

#contactform .row {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 80px 0;
    align-items: center;
}

.bravo_wrap .bravo-contact-block .bravo-contact-block-form .submit {
    width: auto;
}

.bravo_wrap .bravo-contact-block .form_wrapper .contact-header h2 {
    font-size: 20px;
    color: #343434;
    margin-bottom: 20px;
    font-weight: 500;
}

.contact-form-wrapper .contact-header p {
    font-size: 17px;
    color: #777;
}

.contact-form-wrapper {
    width: 80%;
    margin: 0 auto;
}

.bravo_wrap .bravo-contact-block .form_wrapper .contact-header {
    border-bottom: 0px solid #EBEEF1;
}

.no-padding {
    padding: 0;
}

.banner-slider.normal.bg-text {
    justify-content: flex-start;
}

.who-we-are-video {
    margin: 60px 0;
}

.about-us-right iframe {
    width: 100%;
}

h5.heading {
    font-size: 20px;
    font-weight: 700;
}

.address-wrapper {
    color: #777;
    font-size: 16px;
    line-height: 1.7em;
}

.address-wrapper p {
    font-size: 16px !important;
}

.btn-primary.form-submit {
    margin: 0;
}

span.mail-icon {
    font-size: 64px;
}

span.text {
    font-size: 0;
}

.name {
    color: var(--primary-color);
}

.bravo-featured-item.gallery .title {
    font-size: 20px !important;
    margin-top: 10px;
    display: inline-block;
}

.bravo-featured-item.gallery .content {
    margin: 0 auto !important;
    text-align: center;
}

.bravo_footer {
    background: #242625;
    color: #fff;
}

.bravo_wrap .bravo_footer .main-footer .nav-footer .context ul li a {
    border-bottom: 1px solid #353636;
    font-size: 14px;
    font-weight: 400;
    color: #bdbdbd;
    margin-bottom: 5px;
}

.mailchimp {
    display: none;
}

.bravo_wrap .bravo_footer .main-footer .nav-footer .title:before {
    display: none;
}

.bravo_wrap .bravo_footer .main-footer .nav-footer .title {
    padding: 17px 0;
    margin-bottom: 12px;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
}

.bravo_wrap .bravo_footer .copy-right {
    border-top: 1px solid #383938;
}

.bravo_wrap .bravo_footer .main-footer {
    padding: 60px 0 90px;
    margin: 0 auto;
}

.bravo_wrap .bravo_footer .copy-right .context {
    padding: 20px 0px;
}

.bravo_wrap .bravo_footer .copy-right p {
    margin-bottom: 0;
    font-size: 14px;
}

.form-control:focus {
    border-color: #dce2ba;
    box-shadow: 0 0 0 0.2rem rgb(223 235 159 / 50%);
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    font-size: 54px !important;
    color: #f2f2f2 !important;
    background: radial-gradient(#00000080, transparent) !important;
    border-radius: 50%;
}

.owl-nav .owl-next {
    left: auto;
    right: 0;
}

.bravo_wrap .header--sticky {
    position: fixed;
    top: 0;
}

.header--sticky .bravo-logo img {
    max-height: 115px;
    margin-bottom: -20px;
}

.text-sec {
    padding-top: 60px;
}

.carousel-wrapper .title {
    font-size: 22px;
    margin-bottom: 15px;
}

.carousel-wrapper {
    margin: 15px 0;
}

.bravo-carousel-grid, .bravo-gallery-grid {
    padding: 60px 0;
}

.bravo-gallery-grid .gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.bravo-gallery-grid .hide-title .title {
    display: none;
}

.bravo-gallery-grid .gallery-wrapper img {
    margin: 15px 0;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}

.bravo_wrap .bravo_header .content .header-left .bravo-menu {
    padding-right: 20px;
}

.main-menu > .active > a {
    display: inline-block;
    position: relative;
    -webkit-transition: text-decoration .2s ease-out, border-color .2s ease-out, background-color .2s ease-out;
    transition: text-decoration .2s ease-out, border-color .2s ease-out, background-color .2s ease-out;
}

/*.main-menu > .active > a:hover {
    background: #919e3b;
}*/
.bravo_wrap .bravo_header .content .header-left .bravo-menu .main-menu > li > a {
    padding: 0 17px;
}

.bravo-menu .main-menu > li > a {
    border: 2px solid transparent;
}

.bravo-menu .main-menu > li > a:hover {
    border: 2px solid #a8b74b;
}

.bravo-menu .main-menu > li.active > a {
    border: 2px solid #a8b74b;
}

.bravo-menu .main-menu > .btn-banner > a {
    border: 2px solid #919e3b;
    background-color: #919e3b;
}

.video-sec {
    padding-top: 60px;
    margin: 0;
}

.text-sec p {
    color: #777;
    font-size: 15px;
}

.elephant-carousel img {
    padding: 0;
}

.elephant-carousel {
    margin: 40px 0;
}

.elephant-carousel .owl-nav .owl-prev, .elephant-carousel .owl-nav .owl-next {
    background: none !important;
}

a {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.text-sec h2, .text-sec .h2 {
    font-size: 1.7rem;
}

.text-sec h3, .text-sec .h3 {
    font-size: 1.3rem;
}

.padding-top-0 {
    padding-top: 0;
}

.owl-next:focus, .owl-prev:focus {
    outline: 0;
}

.bravo-list-tour.box_shadow .row {
    justify-content: center;
}

.bravo_wrap .page-template-content .bravo-list-tour .title {
    color: #6a6662;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 60px;
}

.bravo_wrap .page-template-content .bravo-list-tour .sub-title {
    color: #6a6662 !important;
    font-size: 18px !important;
    font-weight: 500;
    margin-top: 35px;
}

.bravo_wrap .page-template-content .bravo-list-tour.box_shadow {
    /* background: #fff; */
    padding: 60px 0;
}

.breadcrumb-wrapper {
    background-color: #f9f9f9;
    min-height: 52px;
    padding: 30px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bravo_wrap .bravo_topbar, .bravo_wrap .bravo_topbar .content .dropdown-menu {
    background: var(--brown-color);
    padding: 9px 0;
    height: 100%;
    position: relative;
    z-index: 9;
}

.bravo_wrap .bravo_topbar .content .dropdown-menu li a:hover {
    background: #3c332f;
}

.banner-slider {
    margin-top: -12px;
}

.banner-slider.home .text-heading {
    text-shadow: rgba(0, 0, 0, 0.76) 0px 0px 8px;
    text-transform: uppercase;
    font-size: 70px !important;
}

.banner-slider.home .sub-heading {
    color: rgb(164, 187, 61) !important;
    text-shadow: rgba(0, 0, 0, 0.76) 0px 0px 8px;
    text-transform: uppercase;
    font-size: 40px !important;
}

.banner-slider .sub-text {
    flex: 0 0 100%;
    color: rgba(255, 255, 255, 0.95);
    font-style: italic;
    text-shadow: rgba(0, 0, 0, 0.76) 0px 0px 8px;
    font-weight: 700;
    font-size: 25px;
}

.bravo_wrap .bravo-contact-block .section {
    padding: 0 !important;
}

.tour-info-wrapper .info > div {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.82);
    border-right: 2px solid #757575;
}

.tour-info-wrapper .info {
    display: flex;
    flex-wrap: wrap;
    color: #777;
}

.tour-info-wrapper .bravo-call-to-action {
    width: 100%;
}

.tour-info-wrapper {
    margin: 0 auto;
    background-image: url("https://www.green-elephantsanctuarypark.com/wp-content/uploads/2016/04/3-1.jpg");
    min-height: 800px;
    height: auto;
    background-position: 50% 50%;
    background-attachment: fixed;
    -webkit-box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.45);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 20px;
}

.b-0 {
    border: 0 !important;
}

.tour-info-wrapper .info .title, .tour-program .title {
    color: var(--primary-color);
    font-size: 26px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.65) !important;
    padding: 20px;
    border-top: 2.5px solid var(--primary-color);
}

.tour-program .title {
    text-align: left;
}

.tour-program .content {
    background-color: rgba(168, 183, 75, 0.85) !important;
    padding: 40px;
    text-align: left;
    color: #fff;
    font-weight: 300;
}

.tp-contact-us-wrapper {
    padding: 60px 0;
    text-align: center;
    margin: 20px auto;
}

.img-wrapper img {
    width: 100%;
    border: 2px solid var(--primary-color);
}

.bravo_wrap .banner-slider.tour-program {
    background-attachment: fixed;
    background-position: top !important;
    background-size: auto !important;
    padding: 120px 0;
    background-repeat: no-repeat !important;
    color: #fff;
}

.logoinfo {
    position: relative;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    padding: 4px 7px;
}

.logo-img-wrapper {
    position: relative;
    width: max-content;
    margin: 40px auto;
}

.logo-img-wrapper img {
    width: 100%;
}

.tour-program h1.text-heading {
    font-size: 32px !important;
    font-weight: bold !important;
    margin: 20px auto;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.5) 52%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.5) 52%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.5) 52%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    padding: 10px;
}

/*booking form - start*/
#booking_form_div > .booking, #booking_form_div .congrats {
    min-width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

.booking section {
    background: white;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.action-button {
    width: 100px;
    background: var(--primary-color);
    font-weight: 400;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 7px 5px;
    margin: 10px 5px;
    font-size: 16px;
}

.action-button:hover, .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px var(--primary-color);
}

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

.booking-stepper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    background: #f5edd666;
    border: 1px solid #f1e7c7;
    border-radius: 3px;
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
    margin: 20px auto;
    padding: 26px 16px;
}

.booking-stepper::before {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    /* height: 2px; */
    top: calc(50% - 1px);
    background: #cecece;
    width: calc(100% - 20px);
}

.booking-stepper .step {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #767676;
    line-height: 20px;
    font-size: 16px;
    flex-direction: column;
}

.booking-stepper .step-active .step-text {
    color: #799847;
    font-weight: 600;
}

.booking-stepper .step-number {
    background: #767676;
    border-radius: 3px;
    color: #fff;
}

.booking-stepper .step-active .step-number {
    background: var(--primary-color);
    padding: 5px 7px;
    border-radius: 3px;
    color: #fff;
    margin-right: 10px;
}

.booking-stepper .step-done {
    color: var(--primary-color);
    opacity: 1;
}

.step-done .step-number {
    background: var(--primary-color);
    opacity: 0.8;
}

.booking-stepper .step-number {
    font-weight: 800;
    line-height: 1;
    vertical-align: middle;
    padding: 5px 7px;
    margin-bottom: 4px;
}

.congrats-subtitle {
    line-height: 1.3;
}

.congrats-subtitle strong {
    font-size: 2rem;
}

.person-type-wrapper .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-bottom: 2px solid #c39d2857;
    padding: 12px 0;
}

.person-type-wrapper {
    display: flex;
    justify-content: space-around;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 30px;
    text-align: center;
    color: #333;
    font-size: 30px;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #e2e2e2;
    height: 30px;
    line-height: 27px;
    border-radius: 5px;
    margin: 4px 0;
}

.person-type-wrapper input[type=number] {
    width: 55px;
    padding: 0;
    text-align: center;
    border: none;
    font-size: 30px;
    color: #000;
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    opacity: 0;
}

.pickup-type {
    text-align: left;
}

.pickup-type .form-group {
    margin: 0;
}

.customer-details label {
    color: #777;
    text-align: left;
    display: block;
    font-size: 15px;
}

.tour-booking .fs-title {
    color: #333;
    font-size: 28px;
    margin: 25px 0 15px 0;
}

.booking .overview {
    text-align: left;
}

.booking .customer-name {
    color: #303030;
    line-height: 1.3em;
    font-size: 22px;
}

.booking .title, .booking .overview .person, .booking .overview .transport, .booking .overview .total, .booking .overview .date {
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 600;
    color: #666;
    margin: 12px 0 7px 0;
}

.booking .overview .tour {
    font-size: 28px;
    line-height: 1.5em;
    font-weight: 600;
    color: #666;
    margin: 12px 0 7px 0;
}

.booking img {
    max-width: 100%;
}

.booking .overview .person img {
    width: 50px;
    height: 50px;
    margin-right: 7px;
    margin-left: 12px;
}

.prev.action-button {
    opacity: 0.8;
    background: #a5a5a5;
}

input#datepicker {
    border: 0;
    outline: 0;
}

.error.text-danger {
    text-align: left;
    display: block;
}

.additional-contact .checkbox-wrapper {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.picup_inner {
    text-align: left;
}

.text-success.payment {
    padding: 20px 0;
}

.booking-success-detail {
    padding: 30px 0;
}

.congrats.booking {
    position: relative;
    text-align: center;
}

.congrats-title {
    margin-top: 20px;
}

.person-type-wrapper input[type=number]:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
}

.person-type-wrapper .wrapper.has-error {
    border-bottom: 2px solid #de3545;
}

.text-green {
    color: var(--primary-color);
}

/**Booking form - end**/
.bravo_wrap .bravo_topbar, .bravo_wrap .bravo_topbar .content .dropdown-menu {
    z-index: 1001;
    height: auto;
}

.bravo_wrap .bravo_user_profile .booking-history-manager .booking-review .booking-review-content .review-section ul li {
    /*padding: 7px 10px;*/
    /*margin-bottom: 7px;*/
}

.booking-history-manager .info-form {
    margin: 15px 0;
    font-size: 15px;
}

li.info-additional-contacts .additional-contact,
.booking-history-manager li.members .member {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
    border-bottom: 1px solid #f3f3f3;
    text-transform: capitalize;
}

li.info-additional-contacts,
.booking-history-manager li.members {
    display: block !important;
}

li.info-additional-contacts .additional-contact:last-child,
.booking-history-manager li.members .member:last-child {
    border: 0;
}

li.info-notes, li.final-total {
    border-bottom: 0 !important;
}

#modal_booking_detail .final-total .label {
    font-size: 18px;
    font-weight: 600;
}

#modal_booking_detail .final-total .val {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 18px;
}

/**Booking Management Dashboard - start**/
.booking-history-manager .modal-body .nav-tabs a {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    padding: 7px 15px;
    width: 100%;
    display: block;
    color: #495057;
}

.booking-history-manager .nav-tabs a.active {
    color: var(--primary-color);
}

#app .booking-history-manager {
    padding: 15px;
}

#app .title-bar.booking {
    padding: 7px 15px;
}

.modal .booking-review .booking-review-content .review-section ul li {
    margin-bottom: 0 !important;
}

.booking-history-manager .tabbable .nav-tabs a {
    text-transform: uppercase;
    border: none;
    font-size: 17px;
    color: #1A2B48;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 17px;
    width: 100%;
    display: block;
}

.booking-history-manager .tabbable .nav-tabs .active a {
    color: var(--primary-dark-color);
}

.btn-primary.btn-info-booking:hover {
    border-radius: 3px;
    background: var(--primary-dark-color) !important;
}

.main-sidebar {
    background: var(--brown-color) !important;
}

.main-sidebar .main-menu > li.active > a, .main-sidebar .main-menu > li.active:hover > a {
    background: linear-gradient(to right, #90a512 0%, #a8b74b 100%) !important;
    -webkit-background: linear-gradient(to right, #90a512 0%, #a8b74b 100%) !important;
}

.main-sidebar .main-menu ul {
    background-color: var(--brown-hover-color) !important;
}

.main-sidebar .main-menu .children li.active > a {
    color: var(--primary-color) !important;
}

.main-sidebar .main-menu > li:hover > a {
    background: var(--brown-hover-color) !important;
    color: #e1e1e1 !important;
}

.main-sidebar .main-menu > li:hover {
    background-color: var(--brown-hover-color) !important;
}

.main-sidebar .main-menu li:not(.active):hover > a {
    color: var(--primary-color) !important;
}

.main-header .header-logo {
    background: var(--brown-color) !important;
    border-bottom: 1px solid var(--brown-hover-color) !important;
}

.breadcrumb-item:not(.active) a, .header-widget > a {
    color: var(--primary-dark-color) !important;
}

body a {
    color: var(--primary-color);
}

.booking-history-manager .btn-secondary {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.page-item.active .page-link {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-dark-color) !important;
}

li:not(.active) .page-link {
    color: var(--primary-color) !important;
}

.table-booking-history th {
    font-size: 16px;
}

.bravo-statistic .header-statistic {
    background: var(--brown-hover-color) !important;
}

#modal_booking_detail .modal-body .tab-content {
    border: 1px solid #dee2e6;
    border-top: none;
    padding: 5px 15px;
}

/**Customer-Dashboard**/
.bravo_wrap .bravo_user_profile > .container-fluid > .row-eq-height > .col-md-3,
.bravo_wrap .bravo_user_profile > .container-fluid > .row-eq-height > .col-md-3:after {
    background: var(--brown-color) !important;
    background-color: var(--brown-color);
}

.bravo_wrap .bravo_user_profile .user-profile-avatar {
    margin-bottom: 10px;
    background: none !important;
}


.bravo_wrap .bravo_user_profile .booking-history-manager .tabbable .ht-nav-tabs li.active a {
    color: var(--secondary-color) !important;
    border-bottom: 3px solid var(--secondary-color) !important;
}

.dropdown-notifications .dropdown-footer, #bravo_notify .dropdown-footer {
    background: var(--brown-color) !important;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
    background-color: var(--primary-dark-color) !important;
}

.main-header .header-widgets .widget-user:hover, .main-header .header-widgets .widget-user.show {
    background-color: #eff5ca !important;
}

.main-header .header-widgets .widget-user .user-dropdown .user-role {
    color: var(--primary-dark-color) !important;
}

#app .btn-primary:hover {
    border-radius: 3px;
    background: var(--primary-dark-color) !important;
}

.booking-history-manager .ht-nav-tabs {
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.circle-box-pre {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
}

.availability-nav .nav-link {
    cursor: pointer;
}

/*** Booking Form *****/

.tour_time .date.clearfix {
    display: flex;
    justify-content: normal;
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 9px;
}

.tour_time .date.clearfix .daytime {
    width: 50%;
    text-align: left;
    font-size: 17px;
    font-weight: 600;
}

.tour_time .date.clearfix .suggested-date {
    width: 50%;
    text-align: right;
    font-size: 14px;
}

.tour_time .date-selector.clearfix {
    display: block;
    margin-top: 11px;
}

.tour_time .date-selector.clearfix .option {
    width: 100%;
    text-align: left;
}

.tour_time .date-selector.clearfix .option-selector {
    width: 100%;
    text-align: right;
    margin-bottom: 29px;
}

.tour_time .date-selector.clearfix a.button {
    background: #a8b74b;
    padding: 8px 34px;
    color: white;
}

.tour_time .date.clearfix p {
    margin: 0;
}

.tour_time .date-selector.clearfix .option p {
    margin-bottom: 5px;
}

.tour_time .medium-margin-bottom-4 {
    margin-bottom: 17px;
}

.tour-booking form[data-vv-scope="step1"] .fs-title {
    margin-bottom: 44px;
}

.vdp-datepicker__calendar .cell.day.disabled {
    position: relative;
    background: #ededed;
    color: #b1b0b0;
}

span.cell.day.disabled:before {
    background-image: linear-gradient(to top left, transparent calc(50% - 1px), #b1b1b1, transparent calc(50% + 1px));
    width: 60px;
    height: 61px;
    position: absolute;
    margin-left: -27px;
    margin-top: 2px;
    content: "";
}

.vdp-datepicker__calendar .cell.day {
    background: #cce0ab;
    font-size: 14px;
}

.vdp-datepicker__calendar .cell {
    display: block;
    float: left;
    text-align: center;
    vertical-align: middle;
    height: 66px !important;
    line-height: 70px !important;
    font-size: 16px !important;
    font-weight: 600;
    width: 13.5% !important;
    border-width: 0 !important;
    margin: 1px !important;
}

.vdp-datepicker__calendar {
    width: fit-content;
}

.vdp-datepicker__calendar .cell.day-header {
    font-weight: 400;
}

.vdp-datepicker__calendar .cell.day.blank {
    background: #ededed;
}

.vdp-datepicker__calendar {
    width: unset !important;
}

.vdp-datepicker__calendar .cell.selected {
    background: #799847 !important;
    color: white;
}

.vdp-datepicker__calendar span.cell.month {
    width: calc(50% - 4px) !important;
}

.vdp-datepicker__calendar .cell.day:hover {
    opacity: 0.7;
    border: 0 !important;
}

.tour_time_col {
    padding-left: 40px;
}

.booking-stepper .step {
    display: initial;
}

.tour_time_col {
    padding-left: 50px;
}

.booking-stepper .step {
    display: initial;
}

.booking-stepper .step-number {
    border-radius: 50px !important;
    padding: 3px 8px !important;
    margin-right: 6px;
}

input.next.action-button, input.prev.action-button {
    font-weight: 500;
    font-size: 18px;
    width: 145px;
    font-family: 'Poppins', sans-serif;
}

.form-group.cta-step {
    margin-top: 20px;
    margin-bottom: 22px;
}

.booking-stepper .step {
    position: relative;
}

.booking-stepper .step:not(:last-child):after {
    content: "\27A4";
    position: absolute;
    right: -40px;
}

.person-type-wrapper .quantity span {
    font-size: 18px;
    font-weight: 500;
}

.person-type-wrapper {
    margin-bottom: 34px;
    margin-top: 18px;
}

.quantity-button:hover {
    opacity: 0.7;
}

.quantity-button {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    background: #e1d6b9;
    color: #383838;
    margin: 12px 0;
}

.quantity-button:hover {
    opacity: 0.7;
}

span.tour_cost {
    font-size: 24px;
    margin-top: 8px !important;
    display: inline-block;
    margin-bottom: 15px;
    color: #6f7a25;
    font-weight: 600;
}

.person-type-wrapper img {
    width: 89px;
    margin: 0 16px;
    margin-right: 28px;
}

.pickup-type label span {
    display: block;
}

.pickup-type {
    display: flex;
    margin-top: 34px;
    margin-bottom: 35px;
}

.pickup-type .form-group {
    width: 25%;
    text-align: center;
    padding: 0 11px;
}

.pickup-type input {
    position: absolute;
    z-index: -9999999;
    visibility: hidden;
    opacity: 0;
}

.pickup-type .form-group label {
    padding: 12px 18px;
    border: 2px solid #f1e7c74d;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    background: #ebddb526;
}

.pickup-type .form-group label img {
    width: 76px;
}

.pickup-type .form-group label:hover {
    opacity: 0.7;
}

.pickup-type .form-group span.name {
    margin-top: 11px;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.picup_inner {
    padding: 00 20px;
}

.pickup-type input:checked ~ label {
    border: 3px solid #a8b74b;
    box-shadow: none;
}

input.form-control, textarea.form-control {
    border: 1px solid #7272725c;
    box-shadow: inset 2px 2px 7px 0px #80808045;
}

form label {
    font-size: 16px;
    font-weight: 500;
}

select.form-control {
    height: 40px;
    border: 1px solid lightgrey;
}

.customer-details label {
    color: black;
    font-size: 16px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

textarea.form-control.has-ckeditor {
    border: 1px solid #7272725c;
    box-shadow: inset 2px 2px 7px 0px #80808045;
    height: 132px !important;
}

input.form-control, select.form-control, textarea.form-control {
    color: black;
    font-size: 16px;
    height: 45px;
}


.additional-contact input[type="checkbox"] {
    visibility: hidden;
    opacity: 0;
}

.additional-contact input[type="checkbox"] ~ label {
    position: relative;
}

.additional-contact input[type="checkbox"]:checked ~ label:before {
    box-shadow: none;
    background: #98a933;
    border: 4px solid #d2d9a9;
}

.overview.row.col-lg-12 {
    margin-top: 40px;
}

.customer_data {
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
}

.customer_data .customer-name {
    margin-bottom: 4px;
}

.overview .right-fields {
    background: #f0f3df;
    border-radius: 3px;
    padding: 0 23px;
}

.overview .title {
    color: black;
    font-weight: 700;
    border-bottom: 1px dotted #ababab;
    padding-bottom: 6px;
    margin-bottom: 13px;
}

.overview .left-fields {
    padding-right: 8%;
}

.customer_data .customer-name {
    font-size: 18px;
}

.tour_details {
    border: 1px solid #60606038;
    padding: 0 18px;
    margin-bottom: 25px;
    border-radius: 3px;
    padding-bottom: 14px;
}

.tour_details .person {
    font-size: 16px !important;
    color: #1A2B48 !important;
    margin: 0 !important;
}

.tour_details .person span {
    margin-top: 9px !important;
    display: inline-block;
}

.tour_details .total {
    color: black !important;
    margin-top: 26px !important;
}

.payment-wrapper input + label {
    border: 2px solid #d9d9d9;
    border-radius: 3px;
    padding: 13px 18px;
    display: block;
}

.payment-wrapper input:checked + label {
    border-color: #a8b74b;
}

.payment-wrapper input {
    position: absolute;
    z-index: -99999999;
    opacity: 0;
    visibility: hidden;
}

.payment-wrapper {
    margin-top: 48px;
}

.imp_notice {
    background: white;
    padding: 1px 19px;
    margin-top: 35px;
    border-radius: 3px;
    padding-bottom: 25px;
}

.imp_notice .title {
    color: darkred;
}

.imp_notice p {
    margin: 0;
}

.booking .form.row {
    margin: 0;
}

.picup_inner h3 {
    margin-bottom: 18px;
}

.picup_inner h4 {
    color: #a8b74b;
    margin-bottom: 20px;
}

.col-md-6.picup_rh .address, .col-md-6.picup_rh h4 {
    padding-left: 25px;
}

.col-md-6.picup_rh .address strong {
    font-size: 20px;
}

.col-md-6.picup_rh .address p {
    margin-bottom: 8px;
}

h4.no_hotel_yet {
    font-size: 18px;
    font-weight: 500;
    color: #2e2e2e;
    font-style: italic;
}

.picup_lh .address p {
    margin-bottom: 8px;
}

.picup_lh .address strong {
    font-size: 20px;
}

.additional-contact {
    display: flex;
}

.additional-contact > div {
    width: 20%;
    padding: 0 10px;
}

.address p a {
    color: #9aab35;
}

.address p a:hover {
    color: #a8b74b;
    text-decoration: none;
}

.additional-contact .checkbox-wrapper label {
    padding: 20px 18px;
    border: 2px solid #f1e7c74d;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    background: #ebddb526;
    text-align: center;
}

.additional-contact .checkbox-wrapper label img {
    width: 52px;
    display: block;
    margin: auto;
}

.additional-contact .checkbox-wrapper {
    display: block;
    width: 100%;
}

.fo_additional_contact {
    width: 100%;
}

.additional-contact .checkbox-wrapper label span.name {
    color: #424242;
    margin-top: 5px;
    display: block;
    font-weight: 500;
}

.additional-contact .checkbox-wrapper label:hover {
    opacity: 0.7;
}

.additional-contact input[type="checkbox"]:checked ~ label {
    border: 2px solid #a8b74b;
}

.tour_details .person span {
    margin-right: 26px;
}

.overview h3.title img {
    width: 31px;
    margin-right: 12px;
}

.choose-date {
    cursor: pointer;
}

#booking_datepicker .vdp-datepicker__calendar {
    border-width: 0;
}

.b-header-content {
    position: relative;
}

.b-header-content .bravo-logo {
    position: absolute;
    top: 0;
}

.b-header-content .bravo-logo img {
    height: 108px;
    max-width: 130px;
}

.booking-detail-container {
    padding: 70px 0;
}

.bravo_wrap .page-template-content .bravo-list-tour .item-tour {
    border-width: 0;
    margin-bottom: 0;
    box-shadow: 2px 7px 20px 6px rgba(0, 0, 0, 0.3);
    padding-bottom: 0;
    border-radius: 6px;
}

.bravo_wrap .page-template-content .bravo-list-tour .item-tour .item-title {
    position: absolute;
    top: 7px;
    padding: 5px 10px;
    background-color: rgba(90, 90, 90, 0.4);
    color: #fff !important;
    left: 10px;
    min-height: auto;
    font-size: 28px;
    font-weight: 800;
    line-height: initial;
    font-family: sans-serif;
}

.bravo_wrap .page-template-content .bravo-list-tour {
    padding-top: 90px;
    padding-bottom: 120px;
}

/*******Booking Form Thank You Page********/

/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}

.success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;
}

.check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
}

.check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
}

.check-icon::before, .check-icon::after {
    content: '';
    height: 100px;
    position: absolute;
    background: #FFFFFF;
    transform: rotate(-45deg);
}

.icon-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

.icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
}

.icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
}


.icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, .5);
}

.icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #FFFFFF;
}


@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

h1.book_thank_title {
    font-size: 42px;
    text-align: center;
    margin-bottom: 40px;
}

.order_details {
    display: flex;
    background: #f5edd666;
    margin-bottom: 34px;
    border-radius: 3px;
    box-shadow: 0 16px 20px -13px #80808021;
    border: 1px solid #ede3c5;
}

.order_details .od {
    width: 33.33%;
    text-align: center;
    padding: 18px 10px;
    font-size: 16px;
}

.order_details .od:not(:last-child) {
    border-right: 1px dashed #ede3c5;
}

.order_details span.od_t {
    display: block;
    font-weight: 600;
}

.pick_loc h3.pc_loc img {
    width: 55px;
    margin-right: 15px;
}

.pick_loc {
    font-size: 16px;
}

.pick_loc td.title {
    font-weight: 800;
    width: 40%;
}

h3.pc_loc img {
    width: 45px;
    margin-right: 6px;
}

.po_data h4 {
    font-size: 20px;
    margin-top: 18px;
}

.row.per_data {
    background: #f0f3df;
    padding: 25px 11px;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 80px;
    margin-top: 25px;
}

.row.per_data h3 {
    font-size: 24px;
    border-bottom: 1px dashed #83833f75;
    padding-bottom: 14px;
    margin-bottom: 20px;
}

.row.per_data h3 img {
    width: 29px;
}

.row.per_data a {
    color: #6b6c2e;
}

.row.per_data h4 {
}

.bravo-list-tour .row {
    justify-content: center;
}

.bravo_wrap .page-template-content .bravo-list-tour .item-tour .item-link {
    position: absolute;
    bottom: 7px;
    padding: 10px 62px;
    background-color: var(--primary-color);
    left: 10px;
    min-height: auto;
    border-radius: 7px;
    color: #010101;
    font-size: 24px;
    font-weight: 800;
    line-height: initial;
}

.tour-info-wrapper .info img {
    width: 100%;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .bravo_wrap .page-template-content .bravo-call-to-action {
        margin: 30px 0 30px 0px;
    }
}

.tour-info-wrapper h2 {
    font-size: 20px;
    margin-top: 12px;
}

.tour-info-wrapper ul {
    padding-left: 20px;
}

.bravo_wrap .bravo_header .content .header-right .dropdown-menu {
    background: var(--brown-color) !important;
}

.bravo_wrap .bravo_header .content .header-right .dropdown-menu li a:hover {
    background: #3c332f !important;
}

.contact-banner-wrapper .btn-group a {
    margin: 0 20px;
}

.bravo_user_profile .filter-form {
    align-items: center;
}

.bravo_user_profile .filter-form .btn_search {
    margin-top: 20px;
    margin-left: 12px;
}

.coupon-c {
    position: relative;
    background-color: #ddd;
    padding: 2px 8px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 600;
}

.coupon-c .remove-coupon {
    position: absolute;
    width: 18px;
    height: 18px;
    cursor: pointer;
    top: -8px;
    right: -10px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px;
    background-color: #dc2a2a;
    color: #fff;
    font-size: 12px;
}

textarea.form-control.auto {
    height: auto;
}

.booking-form-steps {
    position: relative;
}

/***** Kamal Responsive Css ****/
.ho_video iframe {
    border-radius: 6px;
}

.contact-sec a.btn-primary {
    padding: 17px 29px;
    font-weight: 700;
}

.bravo-contact-block .btn-group a {
    padding: 10px 45px;
    font-size: 18px;
}

@media (max-width: 1200px) {
    .booking-stepper .step:not(:last-child):after {
        display: none;
    }
}

@media (max-width: 1024px) {
    .bravo_wrap .page-template-content .bravo-form-search-all.carousel_v2 .effect .item {
        display: flex !important;
    }
}

@media (max-width: 991px) {

    .overview .left-fields {
        padding: 0;
    }

    .overview.row.col-lg-12 {
        margin: 0;
    }

    .bravo_header .container {
        max-width: 100%;
    }

    .bravo_header .menu-wrapper {
        width: 90%;
    }

    .bravo_header .menu-wrapper .header-right {
        width: 12% !important;
    }

    .bravo_header .menu-wrapper .header-left {
        width: 88% !important;
    }

    .bravo_header .menu-wrapper {
        display: block;
    }

    .bravo_header .menu-wrapper .header-left, .bravo_header .menu-wrapper .header-right {
        width: 100% !important;
        text-align: left !important;
        min-height: 46px !important;
    }

    .bravo_wrap .bravo_header .content .header-left .bravo-menu > ul > li > a {
        padding: 0 8px;
        font-size: 13px;
    }

    .bravo_header .menu-wrapper .header-right {
        padding: 0 27px;
    }

    .bravo-form-search-all.banner-slider.tour-booking.container {
        max-width: 100% !important;
        padding-left: 18px;
        padding-right: 18px;
    }

    .booking-stepper .step span {
        display: inline-block;
    }

    .bravo-list-tour .row {
        flex-wrap: wrap;
    }

    .bravo-list-tour .row .col-md-4.video {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 19px;
    }

    .bravo-list-tour .row .col-lg-4.col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .bravo_topbar + .bravo_header {
        top: 0;
    }

    .bravo_header .menu-wrapper .header-right {
        text-align: right !important;
        padding: 26px 0 !important;
    }

    .bravo_wrap .bravo_header .content .header-left {
        display: none;
    }

    .header-right i.fa.fa-bars {
        color: #a8b74b;
    }

    .bravo_wrap .page-template-content .bravo-form-search-all.carousel_v2 .effect .item {
        padding-top: 90px !important;
    }

    .banner-slider.home .text-heading {
        font-size: 41px !important;
        margin-top: 10px;
    }

    .bravo_wrap .page-template-content .bravo-form-search-all.carousel_v2 .effect .item .sub-heading {
        padding-top: 0;
    }

    .bravo_wrap .page-template-content .bravo-list-tour .item-tour {
        margin-bottom: 31px;
    }

    .bravo_wrap .page-template-content .bravo-list-tour .item-tour {
        margin-bottom: 31px;
    }

    .bravo_wrap .page-template-content .bravo-list-tour {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .bravo_wrap .page-template-content .bravo-list-tour .title {
        font-size: 30px;
        margin-bottom: 35px;
    }

    .bravo_wrap .page-template-content .bravo-list-tour .title .sub-title {
        margin: 22px 0px;
    }

    .bravo_wrap .page-template-content .bravo-form-search-all .text-heading {
        font-size: 44px;
    }

    .bravo-carousel-grid .row.col-lg-12 {
        margin: 0;
    }

    .bravo-gallery-grid .row.col-lg-12 {
        margin: 0;
    }

    .bravo-contact-block a.bravo-logo {
        padding-top: 90px;
    }

    .contact-banner-wrapper .info:before {
        height: 100%;
    }

    .booking-stepper .step span.step-text {
        display: none;
    }

    .booking-stepper .step:not(:last-child):after {
        display: inherit !important;
    }

    .booking-stepper .step:not(:last-child):after {
        right: -21px;
        top: 50%;
        transform: translateY(-54%);
    }

    .booking section {
        padding: 0 0;
    }

    .tour_time_col {
        padding: 0;
    }

    .booking-form-steps form.row {
        padding: 0;
    }

    .vdp-datepicker__calendar .cell {
        height: 56px !important;
        line-height: 60px !important;
        font-size: 14px !important;
        font-weight: 600;
        width: 13.5% !important;
        border-width: 0 !important;
        margin: 1px !important;
    }

    span.cell.day.disabled:before {
        width: 42px;
        height: 54px;
        margin-left: -17px;
        top: 0;
    }

    .col-lg-6.tour_time_col {
        padding: 0 20px;
    }

    .pickup-type {
        flex-wrap: wrap;
    }

    .pickup-type .form-group {
        width: 50%;
    }

    .additional-contact {
        flex-wrap: wrap;
    }

    .additional-contact > div {
        width: 50%;
    }

    .form-group.fo_additional_contact {
        padding: 0 18px;
    }

    .row.col-lg-12.customer-details {
        margin: 0;
    }

    .bravo-list-tour .row .col-lg-4.col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/**************** Customer Dashboard **********************/
.bravo_wrap .bravo_user_profile .sidebar-menu ul li.active > a, .bravo_wrap .bravo_user_profile .sidebar-menu ul li:hover > a {
    color: #a8b74b;
}

.sidebar-user > div.logout:last-child a {
    color: #a8b74b !important;
}

.bravo_wrap .bravo_user_profile .sidebar-menu ul li.active > a i, .bravo_wrap .bravo_user_profile .sidebar-menu ul li:hover > a i {
    color: white !important;
}

.bravo_wrap .bravo_user_profile .user-form-settings .title-bar .btn-change-password {
    background: #a8b74b;
}

.bravo_wrap .bravo_user_profile .user-form-settings .form-title {
    font-size: 20px;
}

.bravo_wrap .bravo_user_profile .booking-history-manager .tabbable .ht-nav-tabs li.active a {
    color: #a8b74b !important;
    border-bottom: 3px solid #a8b74b !important;
}

.bravo_user_profile .badge-info {
    background-color: #a8b74b;
    font-size: 14px !important;
}

.bravo_wrap .bravo_user_profile .user-profile-avatar .info-new h5 {
    font-size: 25px;
}

.bravo_wrap .bravo_user_profile .user-profile-avatar .info-new p {
    font-size: 13px;
    margin-top: 8px;
}

.tp-contact-us-wrapper .btn-contact {
    display: inline-block;
    position: relative;
    outline: 0;
    padding: 9px 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background-color: #a8b74b;
    text-decoration: none;
    -webkit-transition: color .25s ease-out, background-color .25s ease-out, border-color .25s ease-out;
    -moz-transition: color .25s ease-out, background-color .25s ease-out, border-color .25s ease-out;
    transition: color .25s ease-out, background-color .25s ease-out, border-color .25s ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    border-radius: 0;
    margin: 30px 0 0 0;
}

.tp-contact-us-wrapper .btn-contact:hover, .tp-contact-us-wrapper .btn-contact:focus {
    background: var(--button-hover);
    color: #fff;
}


.choose-tour-content .ho_video {
    height: 301px;
}

.choose-tour-content .ho_video iframe {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .choose-tour-content .ho_video {
        height: 229px;
    }
}


.form-payment {
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
}

#payment-message {
    color: rgb(105, 115, 134);
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
}

#payment-element {
    margin-bottom: 24px;
}

/* spinner/processing state, errors */
.booking-spinner,
.booking-spinner:before,
.booking-spinner:after {
    border-radius: 50%;
}

.booking-spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.booking-spinner:before,
.booking-spinner:after {
    position: absolute;
    content: "";
}

.booking-spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
}

.booking-spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
}

.hidden {
    display: none;
}

.app_custom_footer .main-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    list-style: none;
}

.app_custom_footer > .main-menu > li {
    padding-left: 15px;
    padding-right: 15px;
}

.app_custom_footer > .main-menu > li > a {
    font-weight: 700;
    padding: 15px 0;
    color: #fff;
    display: block;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    line-height: 36px;
}

.app_custom_footer > .main-menu > li > a > .fa {
    display: none;
}

.app_custom_footer > .main-menu > li > ul {
    list-style: none;
}

.app_custom_footer > .main-menu > li > ul a {
    border-bottom: 1px solid #353636;
    font-size: 14px;
    font-weight: 400;
    color: #bdbdbd;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}

.app_custom_footer > .main-menu > li > ul a:hover, .app_custom_footer > .main-menu > li > ul a:focus {
    color: #fff;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    form {
        width: 80vw;
        min-width: initial;
    }
}


.expired-booking-time {
    color: #999;
}

#ges_address {
    /*height: auto;*/
}

.choose-tour-content {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.choose-tour-content .tour-sec {
    margin-bottom: 30px;
}

.header-right .lang-dropdown {
    margin-right: 45px;
}

.bravo_wrap .bravo_header .content .header-right .bravo-more-menu.active, .bravo_wrap .bravo_header .content .header-right .bravo-more-menu {
    background-color: transparent;
    outline: 0;
}

.b-close .fa {
    font-size: 16px;
}

.bravo_wrap .bravo_header .bravo-menu-mobile .user-profile .b-close {
    top: -7px;
}

.bravo_wrap .bravo_header .bravo-menu-mobile .user-profile .avatar {
    background-color: #a4bb3d;
}

.bravo_wrap .bravo_header .bravo-menu-mobile .g-menu {
    overflow-x: hidden;
}

#googlemap iframe {
    width: 100%;
    height: 450px;
}
.video-tour-section, #vimeo-video-manager {
    width: 100%;
    height: 100%;
    background-color: #000;
}
#vimeo-video-manager iframe {
    display: block;
    height: 100%;
    width: 100%;
}
