body{
  overflow-x: hidden;
}


h2{font-size: 38px;font-weight: 700;line-height: 1.3;text-align: left;padding-bottom: 20px;}


.section{
  padding-top: 5.5rem;
  padding-right: .5rem;
  padding-bottom: 5.5rem;
  padding-left: .5rem;
}


.top-text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
  text-align: left;
}

.top-text:after {
  content: url(../img/icons/h-Line.svg);
  margin-right: 0px;
  position: relative;
  top: -3px;
  left: -19px;
  transform: scale(0.8);
  display: inline-block;
}
.service-img-div{
background-repeat: no-repeat;
 background-size: cover; 
}
.service-section3 .container{padding: 55px 0px;}

.service-section3{
  background-color: #2A343F;
box-shadow: -1px 5px 24.8px -7px #00000026;
}


.service-section3 .s3-1 h2{
  font-size: 35px;
  font-weight: 700;
  line-height: 42.67px;
  text-align: left;    
  color: #fff;
  padding-bottom: 10px;
}

.service-section3 .s3-1{
  border-right: 1px solid #FFFFFF;
  padding-right: 30px;
}

.service-section3 .s3-1 p{
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #fff;
}

.call-icon{width: 83px;height: 82px;border-radius:5px;background: #CFDE29;display: flex;justify-content: center;align-items: center;margin-right:20px;}

.s3-2 span{font-family: Montserrat;font-size: 23px;font-weight: 700;line-height: 24.26px;text-align: left;color: #fff;}

.s3-2 h4{font-size: 49px;font-weight: 700;line-height: 67.05px;text-align: left;color: #CFDE29;}

.s3-2{
  display: flex;
align-items: center;
  padding-left: 30px;
}


.service-section6{
  padding-top: 3rem;
  padding-right: .5rem;
  padding-bottom: 3rem;
  padding-left: .5rem;
  background: #CFDE29;
}

.service-section6 .container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service-section6 h2{
  font-size: 38px;
  font-weight: 700;
  line-height: 36.05px;
  padding-bottom: 15px;
  }

  .service-section6 p{
      max-width: 1169px;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      padding-bottom: 30px;
  } 

  .service-section6 .cta-btn-n {border-radius:5px;background-color: #2A343F;border: none;color:#fff;text-decoration:none;padding:15px 30px;font-size: 20px;line-height:21.94px;}

.service-section6 .cta-btn-n a{
  font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 21.94px;
color: #fff;
text-decoration: none;
}



.service-section7 h2{padding-bottom: 20px;}

.service-section7 .sec-7-1{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
}

.service-section7 .sec-7-2{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  
}

.service-section7 .col-lg-6:first-child{
  padding-right:30px;
}

.service-section8{
  background: #F8FADF;

}


.sc-8-1{
  padding-right: 44px;
}

.s8-p{
  padding-top:10px;
  padding-bottom:40px;
  border-bottom: 1px solid #ACACAC;
}

.s3-t{
  margin-top:-5rem;
}

.p-right{
  padding-right: 30px;
}


.s4-section h2{
  text-align: center;
  padding-bottom: 40px;
  font-size: 38px;
}


.s4-section ul{
  list-style: none;
  padding: 20px 0;
}

.s4-section ul li{font-size: 18px;line-height: 27px;text-align: unset;display: flex;padding-bottom: 12px;}

.s4-section ul li img{width: 25.5px;height: 20px;margin-right: 10px;margin-top: 5px;}

/*--faq----*/


.accordion {
display: flex;
flex-direction: column;
gap: 10px;
width: 100%;
}

.accordion .accordion-item {border-bottom: 1px solid #ACACAC;padding: 30px 0;}

.accordion .accordion-item .accordion-item-description-wrapper hr {
border: none;
border-top: 1px solid var(--border-color);
visibility: visible;
}

.accordion .accordion-item.open .accordion-item-description-wrapper hr {
visibility: visible;
}

.accordion .accordion-item .accordion-item-header {display: flex;align-items: center;justify-content: space-between; cursor: pointer;}

.accordion .accordion-item .accordion-item-header .accordion-item-header-title {font-family: Montserrat;font-size: 20px;font-weight: 700;line-height: 24.38px;text-align: left;}

.accordion .accordion-item .accordion-item-header .accordion-item-header-icon {
transition: var(--transition);
}

.accordion
.accordion-item.open
.accordion-item-header
.accordion-item-header-icon {
transform: rotate(-180deg);
}

.accordion .accordion-item .accordion-item-description-wrapper {
display: grid;
grid-template-rows: 0fr;
overflow: hidden;
transition: var(--transition);
}

.accordion .accordion-item.open .accordion-item-description-wrapper {
grid-template-rows: 1fr;
}

.accordion
.accordion-item
.accordion-item-description-wrapper
.accordion-item-description {
min-height: 0;
}

.accordion
.accordion-item
.accordion-item-description-wrapper
.accordion-item-description
p {padding: 15px 0 0 21px;font-size: 18px;font-weight: 400;line-height: 24px;text-align: left;}


/*---service page css---*/


.service-banner{
  padding-top: 5rem;
  padding-right: .5rem;
  padding-bottom: 5rem;
  padding-left: .5rem;
  background: linear-gradient(110deg, #0a0a0abf 30%, rgba(0, 0, 0, .08) 80%);
}


.service-banner h1{
  font-size: 44px;
  font-weight: 700;
  line-height: 60.05px;
  text-align: left;
  color: #fff;
  padding-bottom: 15px;
}

.service-banner p{
  color: #fff;
}

.service-banner ul{
  list-style: none;
  padding: 10px 0 35px 0;
}

.service-banner ul li{font-size: 18px;font-weight: 600;line-height: 36px;text-align: left;color: #fff;}

.service-banner ul li img{
width: 14.5px;
height: 10px;
margin-right:10px;
}

.banner-btn{
  font-family: Montserrat;
  border-radius:5px;
  background: #FFFFFF;
  border:none;
  font-size: 18px;
  font-weight: 500;
  line-height: 55.94px;
  padding: 20px 30px;
}

.border-r{
  border-radius: 10px;
}

.service-sec-8 {
    background: linear-gradient(180deg, #f7f7f7, white);
}

.service-info-box h2{
  font-size: 38px;
  font-weight: 700;
  line-height: 41.05px;
  text-align: center;
  padding-bottom: 45px;
}

.service-info-box p{font-size: 18px;font-weight: 400;line-height: 24px;text-align: center;padding-bottom: 40px;}

.service-info-box .service-info{
  height: 370px;
  border-radius:10px;
  border: 1px solid #D2D2D2;
  background: #F8F8F8;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px;
}

.s-info-1{
  padding-top:40px !important;
}

.service-info-box .service-info h4{font-size: 24px;font-weight: 600;line-height: 29.26px;padding: 25px 0 20px 0;text-align: center;}
.service-info-box .service-info p{
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;
}

.service-info-box .container .row > div{
  padding: 0px 25px 25px 0;
}

.service-info img{
  width: 80px !important;
  height: 80px;
}

.banner-cta a{
  display: flex;
  align-items: center;
  font-size: 42px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.banner-cta img{
  width: 50px;
  height: 50px;
  margin-right: 13px;
}

.counter-section .container{border-radius:10px;background: #CFDE29;box-shadow: 6px 4px 20px -3px #0000001F;padding: 30px 2px;}



.counter-section .container .row>div{
  border-right: 1px solid #9B9292;
}

.counter-section .container .row>div:last-child{
  border: none;
}

.count-box {
  display: flex;
  align-items: center;
  padding: 0 13px;
}

.count-box img{
  width: 85%;
}

.count-box h4{font-family: Montserrat;font-size: 44px;font-weight: 700;line-height: 49.05px;text-align: left;color: #2A343F;}

.count-box p{font-family: Montserrat;font-size: 15px;font-weight: 600;line-height: 20.26px;text-align: left;color: #2A343F;}


/*--slider--*/
/*.slideshow {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}*/
.slideshow .slide img {
  max-width: 100%;
  width: 100%;
}
.slideshow .slick-prev:before,
.slideshow .slick-next:before {
  color: black;
}

.service-info-box .slide{
  padding: 10px;
}


.s-info-1{
  padding-top: 53px !important;
}

.service-info-box .service-info h4{font-size: 24px;font-weight: 600;line-height: 29.26px;padding: 25px 0 20px 0;}
.service-info-box .service-info p{
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;
}


.slick-prev:before, .slick-next:before {
  font-size: 37px;
}

.slick-prev {
  left: -40px;
}

.call-cta-btn{
  margin-top: 30px;
}

.call-cta-btn a{
  display: flex;
  align-items: center;
  font-size: 42px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.call-cta-btn img{
  width: 50px;
  height: 50px;
  margin-right: 13px;
}

.sr-bx-2{
  display:none;
}



.form-cta-btn .cta-btn-n{border-radius:5px;background-color: #2A343F;border: none;margin-top: 20px;font-family: Montserrat;font-size: 18px;font-weight: 500;line-height: 132.94px;color: #fff;text-decoration: none;padding:18px 32px;}

@media only screen and (max-width:1700px) {
.faq-img img{
  width:100%;
}
}

@media only screen and (max-width:1450px) {
  .faq-img img{
    width:100%;
  }

  .service-info-box .container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

  }


  @media only screen and (max-width:1300px) {
    .service-info-box .container {
      max-width: 767px;
      margin-left: auto;
      margin-right: auto;
  }

  .border-r {
    margin: 0% auto;
    display: block;
}
  

.mt-b{
  margin-top: 20px;
}


.s3-2 {
  padding-top: 30px;
  padding-left: 0;
}

.service-section3 .container {
  padding: 47px 15px;
}

.border-r {
  border-radius: 10px;
  width: 100%;
}

.service-section1 .row div:first-child{
  padding-right:30px
  
} 

.service-section3 .s3-1 {
  border-right:none;
  padding-right: 30px;
}    

.count-box {
    display: flex;
    align-items: center;
    padding: 0 13px;
}
    
    }  

    @media only screen and (max-width:1050px) {
      .service-info-box .container { 
        margin-left: auto;
        margin-right: auto;
    }
    
    .banner-cta{
      margin-top:20px;
    }
    
    .border-r {
      width: 100%;
    }
     
    .section {
      padding-top: 3rem;
      padding-right: 0.7rem;
      padding-bottom: 3rem;
      padding-left: .7rem;
  }

  .counter-section .container .row>div{
    border:none;
  }

  .service-banner h1 {
    font-size: 30px;
    line-height: 36.05px;
  }

  .s3-2 {
    padding-left: 0px;
    padding-top: 20px;
}

.service-section3 .container {
  padding: 19px 14px;
}

h2 {
  font-size: 29px;
}

.service-info-box h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 39.05px;
}

.s4-section h2 {
  text-align: left;
  padding-bottom: 20px;
  font-size: 28px;
}

.service-section3 .s3-1 {
  border-right: none;
  padding-right: 0px;
}

.sr-bx-2{
  display:block;
}

.sr-bx-1{
  display:none;
}

.count-box {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  justify-content: center;
}
 
.counter-section .container {
  padding: 15px 2px;
}

.call-icon {
  width: 71px;
  height: 71px;
}

.s3-2 h4 {
  font-size: 34px;
  font-weight: 700;
  line-height: 54.05px;
}

.s3-2 span {
  font-size: 22px;
  font-weight: 700;
  line-height: 24.26px;
}

.service-info-box .container .row > div {
  padding: 0px 0px 25px 0px;
}

.service-section6 h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.05px;
}

.service-section6 p {
  text-align: left;
}

.service-info-box .service-info {
  height: auto;
}

.service-banner {
  background: linear-gradient(110deg, #0a0a0aa3 66%, rgba(0, 0, 0, .08) 82%);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.banner-cta a {
  font-size: 36px;
}

.banner-cta img {
  width: 42px;
  height: 42px;
}

.call-cta-btn a {
  display: flex;
  align-items: center;
  font-size: 35px;
}

.call-cta-btn img {
  width: 42px;
  height: 42px;
}

.service-section1 .row div:first-child{
  padding-right:0px
  
} 
      
.p-right {
  padding-right:0px;
}

.service-section7 .col-lg-6:first-child {
  padding-right:0px;
}
.sc-8-1 {
  padding-right: 0px;
}

}  

@media only screen and (max-width:650px) {
  h2 {
    font-size: 24px;
  }

    .count-box h4 {
      font-family: Montserrat;
      font-size: 26px;
      font-weight: 700;
      line-height: 25.05px;
    } 

    .count-img{
     width: 51px;
    }  

   .count-box p {
    font-size: 15px;
   }

   .count-box {
    padding: 10px 9px;
  }

  .counter-section {
    padding: 0 8px;
}
}


@media only screen and (max-width:360px) {

  .service-banner h1 {
    font-size: 26px;
    line-height: 37.05px;
}

.banner-cta a {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.banner-cta img {
  width: 41px;
  height: 41px;
  margin-right: 10px;
}

.banner-btn {
  padding: 16px 19px;
}

.s3-2 h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 39.05px;
}

.s3-2 h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 39.05px;
}

.call-cta-btn a {
  display: flex;
  align-items: center;
  font-size: 33px;
}

.call-cta-btn img {
  width: 42px;
  height: 42px;
}

.service-info-box .service-info {
  height: 480px;
}


.counter-section .col-sm-6 {
  flex: 0 0 100%;
  max-width: 100%;
}

}
